<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>21497506057-5klbg3n2m9gg40s5d55eo1m9vr28s2pa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.21497506057-5klbg3n2m9gg40s5d55eo1m9vr28s2pa</string>
	<key>API_KEY</key>
	<string>AIzaSyDSF6qQzzbU0VURFpeg4wwq6WB0nWQq4Kc</string>
	<key>GCM_SENDER_ID</key>
	<string>21497506057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.videoApp</string>
	<key>PROJECT_ID</key>
	<string>videoapp-2f991</string>
	<key>STORAGE_BUCKET</key>
	<string>videoapp-2f991.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21497506057:ios:5017f666719c8e475fcbd8</string>
</dict>
</plist>